body, h1, h2, h3, a, p {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

:-webkit-any(input:-webkit-autofill, textarea:-webkit-autofill) {
  -webkit-text-fill-color: #161616;
  transition: background-color 5000s;
}

:is(input:autofill, textarea:autofill) {
  -webkit-text-fill-color: #161616;
  transition: background-color 5000s;
}

:-webkit-any(input:-webkit-autofill:hover, textarea:-webkit-autofill:hover) {
  border-color: #d5d7de;
}

:is(input:autofill:hover, textarea:autofill:hover) {
  border-color: #d5d7de;
}

:-webkit-any(input:-webkit-autofill:focus, textarea:-webkit-autofill:focus) {
  outline: 1px solid #161616;
}

:is(input:autofill:focus, textarea:autofill:focus) {
  outline: 1px solid #161616;
}

.container {
  padding-inline: 20px;
}

@media (width >= 576px) {
  .container {
    padding-inline: 72px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.page {
  color: #161616;
  scroll-behavior: smooth;
  font-family: Cinzel, Times, serif;
  font-size: 16px;
  line-height: 1.68;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.page__menu {
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0%);
}

.header {
  background: url("header-bg-mobile.2d58f869.png") center / cover;
  max-width: 100%;
  font-weight: 700;
}

.header__content {
  height: 100vh;
}

.header__title {
  text-align: center;
  color: #fff;
  margin: 0;
  padding-top: 104px;
  font-size: 40px;
  line-height: 1;
}

@media (width >= 576px) {
  .header__title {
    letter-spacing: -1.5px;
    padding-top: 125px;
    font-size: 64px;
  }
}

@media (width >= 1024px) {
  .header__title {
    padding-top: 70px;
    font-size: 80px;
  }
}

.menu {
  text-transform: uppercase;
  color: #fff;
  background-color: #d12d35;
  height: 100vh;
  font-weight: 700;
  overflow: auto;
}

.menu__top {
  z-index: 1;
  background-color: #d12d35;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
}

@media (width >= 576px) {
  .menu__top {
    margin-bottom: 8px;
  }
}

.menu__nav {
  margin-bottom: 26px;
}

.phone-numbers {
  text-transform: uppercase;
  text-align: right;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  padding: 5px 45px 5px 5px;
  font-weight: 700;
  transition: opacity .3s;
}

@media (width >= 1024px) {
  .phone-numbers:hover {
    opacity: 1;
    pointer-events: all;
  }
}

@media (width >= 1460px) {
  .phone-numbers {
    padding-right: 95px;
  }
}

@media (width >= 1560px) {
  .phone-numbers {
    padding-right: 130px;
  }
}

@media (width >= 1660px) {
  .phone-numbers {
    padding-right: 165px;
  }
}

@media (width >= 1760px) {
  .phone-numbers {
    padding-right: 200px;
  }
}

@media (width >= 1860px) {
  .phone-numbers {
    padding-right: 235px;
  }
}

@media (width >= 1960px) {
  .phone-numbers {
    padding-right: 270px;
  }
}

@media (width >= 2060px) {
  .phone-numbers {
    padding-right: 305px;
  }
}

@media (width >= 2160px) {
  .phone-numbers {
    padding-right: 340px;
  }
}

@media (width >= 2260px) {
  .phone-numbers {
    padding-right: 375px;
  }
}

@media (width >= 2360px) {
  .phone-numbers {
    padding-right: 410px;
  }
}

@media (width >= 2460px) {
  .phone-numbers {
    padding-right: 445px;
  }
}

@media (width >= 2560px) {
  .phone-numbers {
    padding-right: 480px;
  }
}

@media (width >= 2660px) {
  .phone-numbers {
    padding-right: 515px;
  }
}

@media (width >= 3000px) {
  .phone-numbers {
    display: none;
  }
}

.phone-numbers__link {
  color: inherit;
  transition: color .3s;
}

.phone-numbers__link:hover {
  color: #d12d35;
}

.nav__list {
  padding: 0;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-bottom: 26px;
}

.nav__link {
  letter-spacing: 2px;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  text-decoration: none;
  position: relative;
}

.nav__link:after {
  content: "";
  background-color: #fff;
  width: 0;
  height: 1px;
  transition: all .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.nav__link:hover:after {
  width: 100%;
}

.phone__item {
  flex-direction: column;
  display: flex;
}

.phone__item:not(:last-child) {
  margin-bottom: 8px;
}

.phone__item:last-child {
  margin-bottom: 16px;
}

.phone__link {
  color: inherit;
  transition: color .3s;
}

.phone__link:hover {
  color: #161616;
}

.phone__order-link {
  color: inherit;
  letter-spacing: 2px;
  padding-bottom: 5px;
  text-decoration: none;
  transition: all .3s;
  position: relative;
}

.phone__order-link:after {
  content: "";
  background-color: #fff;
  width: 0;
  height: 1px;
  transition: all .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.phone__order-link:hover:after {
  width: 100%;
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding-block: 25px;
  display: flex;
}

@media (width >= 576px) {
  .top-bar {
    padding-block: 32px;
  }
}

.top-bar__logo-link {
  display: flex;
}

.top-bar__logo {
  max-width: 87px;
  height: 46px;
  transition: transform .3s;
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .top-bar__logo {
    height: 65px;
  }
}

.top-bar__icons {
  gap: 24px;
  display: flex;
}

@media (width >= 576px) {
  .top-bar__icons {
    gap: 55px;
  }
}

.top-bar__phone-numbers {
  position: fixed;
  top: 24px;
  right: 20%;
}

.icon {
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: block;
}

.icon:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.icon--phone {
  z-index: 1;
  background: url("icon-phone.0103cb9f.svg") center / cover no-repeat;
}

@media (width >= 1024px) {
  .icon--phone:hover + .phone-numbers {
    opacity: 1;
    pointer-events: all;
  }
}

.icon--menu {
  z-index: 1;
  background: url("icon-burger-menu.42f674b4.svg") center / cover no-repeat;
}

.icon--menu:hover {
  background: url("icon-burger-menu-hover.a2f9c54f.svg") center / cover no-repeat;
}

.icon--close {
  background: url("icon-close.76787d5c.svg") center / cover no-repeat;
}

.section-title {
  letter-spacing: -1.5px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

.section-title--align--left {
  text-align: left;
}

@media (width >= 576px) {
  .section-title--align--left {
    max-width: 175px;
  }

  .section-title {
    font-size: 48px;
  }
}

.main {
  background-color: #fff;
}

.main__content {
  row-gap: 100px;
  padding-block: 100px;
  display: grid;
}

@media (width >= 576px) {
  .main__content {
    row-gap: 140px;
    padding-top: 140px;
    padding-bottom: 156px;
  }
}

@media (width >= 1024px) {
  .main__content {
    padding-top: 138px;
    padding-bottom: 150px;
  }
}

.about-us {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 32px 20px;
  font-weight: 700;
  display: grid;
}

@media (width >= 576px) {
  .about-us {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .about-us {
    --columns: 12;
  }
}

.about-us__top {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .about-us__top {
    grid-column: span 3;
  }
}

@media (width >= 1024px) {
  .about-us__top {
    grid-column: span 5;
  }
}

.about-us__sub-title {
  text-transform: uppercase;
  color: #d12d35;
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 1.4;
}

.about-us__body {
  flex-direction: column;
  grid-column: 1 / -1;
  gap: 24px;
  display: flex;
}

@media (width >= 576px) {
  .about-us__body {
    grid-column: span 3;
  }
}

@media (width >= 1024px) {
  .about-us__body {
    grid-column: span 7;
  }
}

.item-about-us {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

.item-about-us__info {
  grid-template-columns: 96px 1fr;
  gap: 8px 25px;
  display: grid;
}

.item-about-us__info--cloisters {
  grid-template-columns: 121px 155px;
}

.item-about-us__title {
  line-height: 1.25;
}

.item-about-us__day {
  font-weight: 400;
}

.item-about-us__text {
  max-width: 280px;
  font-weight: 400;
}

@media (width >= 1024px) {
  .item-about-us__text {
    max-width: 100%;
  }
}

.now-on-view__section-title {
  margin-bottom: 8px;
}

.now-on-view__text {
  text-align: center;
  margin-bottom: 48px;
}

.now-on-view__wrapper {
  row-gap: 48px;
  margin-bottom: 40px;
  display: grid;
}

.now-on-view__bottom {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .now-on-view__bottom {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .now-on-view__bottom {
    --columns: 12;
  }
}

.now-on-view__button {
  grid-column: 1 / 3;
}

@media (width >= 576px) {
  .now-on-view__button {
    grid-column: 2 / 6;
  }
}

@media (width >= 1024px) {
  .now-on-view__button {
    grid-column: 5 / 9;
  }
}

.exhibition__photos {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  margin-bottom: 24px;
  display: grid;
}

@media (width >= 576px) {
  .exhibition__photos {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .exhibition__photos {
    --columns: 12;
  }
}

.exhibition__photos--bodhisattvas {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8px;
  display: grid;
}

@media (width >= 576px) {
  .exhibition__photos--bodhisattvas {
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
    display: grid;
  }
}

@media (width >= 576px) and (width >= 576px) {
  .exhibition__photos--bodhisattvas {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 576px) and (width >= 1024px) {
  .exhibition__photos--bodhisattvas {
    --columns: 12;
  }
}

.exhibition__link {
  position: relative;
  overflow: hidden;
}

@media (width >= 576px) {
  .exhibition__link--wide {
    grid-column: span 4;
  }
}

@media (width >= 1024px) {
  .exhibition__link--wide {
    grid-column: span 8;
  }
}

.exhibition__link--square {
  height: 0;
  padding-bottom: 100%;
}

@media (width >= 576px) {
  .exhibition__link--square {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .exhibition__link--square {
    grid-column: span 4;
  }
}

.exhibition__link--bodhisattva {
  height: 0;
  padding-bottom: 100%;
}

@media (width >= 576px) {
  .exhibition__link--bodhisattva {
    grid-column: span 3;
  }
}

@media (width >= 1024px) {
  .exhibition__link--bodhisattva {
    grid-column: span 4;
  }
}

.exhibition__link--display-none {
  height: 0;
  padding-bottom: 100%;
}

@media (width >= 576px) {
  .exhibition__link--display-none {
    display: none;
  }
}

@media (width >= 1024px) {
  .exhibition__link--display-none {
    display: block;
  }
}

.exhibition__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform .3s;
  position: absolute;
}

.exhibition__photo:hover {
  transform: scale(1.1);
}

.exhibition__photo--old-masters--wide {
  object-position: -40px;
}

@media (width >= 576px) {
  .exhibition__photo--old-masters--wide {
    object-position: left bottom;
  }
}

.exhibition__photo--walt-disney--wide {
  object-position: right;
}

.exhibition__title {
  color: #d12d35;
  font-weight: 700;
}

.button {
  text-align: center;
  color: #fff;
  background-color: #d12d35;
  padding: 15px 0 14px;
  font-weight: 700;
  transition: background-color .3s;
}

.button:visited {
  background-color: #eb343d;
}

.button:hover {
  cursor: pointer;
  background-color: #ae1c23;
}

.explore-online__section-title {
  margin-bottom: 40px;
}

@media (width >= 576px) {
  .explore-online__section-title {
    margin-bottom: 48px;
  }
}

.explore-online__wrapper {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 48px 20px;
  display: grid;
}

@media (width >= 576px) {
  .explore-online__wrapper {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .explore-online__wrapper {
    --columns: 12;
  }
}

.online-activity {
  flex-direction: column;
  grid-column: 1 / -1;
  row-gap: 24px;
  display: flex;
}

@media (width >= 576px) {
  .online-activity {
    grid-column: 2 / 6;
    row-gap: 32px;
  }
}

@media (width >= 1024px) {
  .online-activity {
    grid-column: span 4;
  }
}

.online-activity__link {
  padding-bottom: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.online-activity__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform .3s;
  position: absolute;
  top: 0;
  left: 0;
}

.online-activity__photo:hover {
  transform: scale(1.1);
}

.online-activity__title {
  color: #d12d35;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.online-activity__text {
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
}

.contacts__section-title {
  margin-bottom: 48px;
}

.contacts__wrapper {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 48px 20px;
  display: grid;
}

@media (width >= 576px) {
  .contacts__wrapper {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .contacts__wrapper {
    --columns: 12;
  }
}

.contacts__locations {
  grid-column: 1 / -1;
  grid-template-columns: 237px;
  gap: 48px;
  display: grid;
}

@media (width >= 576px) {
  .contacts__locations {
    grid-column: span 3;
  }
}

@media (width >= 1024px) {
  .contacts__locations {
    grid-column: 1 / 7;
    grid-template-columns: repeat(2, 237px);
    gap: 24px;
  }
}

.contacts__title {
  margin-bottom: 16px;
  font-weight: 700;
}

.item-contacts {
  flex-direction: column;
  row-gap: 4px;
  display: flex;
}

.item-contacts:not(:last-child) {
  margin-bottom: 8px;
}

.item-contacts__label {
  font-size: 14px;
  line-height: 1.93;
}

.item-contacts__link {
  color: #3e3e3e;
  font-weight: 700;
  transition: color .3s;
}

.item-contacts__link:hover {
  color: #d12d35;
}

.item-contacts__address {
  color: #3e3e3e;
  font-weight: 700;
  line-height: 1.4;
  transition: color .3s;
}

.item-contacts__address:hover {
  color: #d12d35;
}

.form {
  flex-direction: column;
  grid-column: 1 / -1;
  row-gap: 16px;
  display: flex;
}

@media (width >= 576px) {
  .form {
    grid-area: 1 / 4 / -1 / 7;
  }
}

@media (width >= 1024px) {
  .form {
    grid-column: 9 / -1;
  }
}

@media (width >= 1100px) {
  .form {
    grid-column: 8 / -1;
  }
}

.form__input {
  color: #161616;
  padding-block: 14px;
  background-color: #f8f8fa;
  border: 1px solid #0000;
  outline: none;
  padding-left: 16px;
  font-family: Cinzel, Times, serif;
  transition: border-color .3s;
}

.form__input::placeholder {
  color: #7e7e83;
  font-size: 14px;
  line-height: 1.42;
}

.form__input:hover {
  border-color: #d5d7de;
}

.form__input:focus {
  outline: 1px solid #161616;
}

.form__textarea {
  background-color: #f8f8fa;
  border: 1px solid #0000;
  outline: none;
  height: 144px;
  margin-bottom: 16px;
  padding-top: 14px;
  padding-left: 16px;
  font-family: Cinzel, Times, serif;
}

.form__textarea::placeholder {
  color: #7e7e83;
  font-size: 14px;
  line-height: 1.42;
}

.form__textarea:hover {
  border-color: #d5d7de;
}

.form__textarea:focus {
  outline: 1px solid #161616;
}

.form__button {
  font-family: Cinzel, Times, serif;
}

.footer {
  z-index: -1;
  background-image: url("footer-background.c723d04e.png");
  background-position: center;
  background-size: cover;
  height: 180px;
  position: sticky;
  bottom: 0;
}

@media (width >= 576px) {
  .footer {
    background-position: -325px;
    height: 359px;
  }
}

@media (width >= 1024px) {
  .footer {
    background-position: 0 0;
  }
}
/*# sourceMappingURL=index.38ec9247.css.map */
